@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;

.allitems{
    width: spCalc(500);
    margin: spCalc(100) auto spCalc(83);
    background: c.$main;
    border: solid 1px #000;
    border-radius: 35px;
    a{
        width: 100%;
        padding: calc(39 / 500) * 100% 0;
        text-align: center;
        display: block;
        position: relative;
        color: #fff;
        .arrow{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 4px;
            margin-right: calc(79 / 500) * 100%;
            line-height: 0;
        }
    }
}


.about_wrap{
    width: spCalc(650);   
    margin: 0 auto spCalc(30);
    background: #fff;
    border-radius: 15px;
    padding: spCalc(83) 0 spCalc(76);
    

    .coji-about_ttl{
        width: calc(405.19 / 650) * 100%;
        margin: 0 auto;
        line-height: 0;
    }
    .about_cojicoji{
        line-height: 1;
        font-size: spFont(30);
        text-align: center;
    }

    .about_txt{
        font-size: spFont(29);
        line-height: 1.8;
        width: calc(531.23 / 650) * 100%;
        margin: calc(29 / 650) * 100% auto 0;
    }
    @include pc{
        .about_cojicoji{
            font-size: pcFont(40);
        }

        .about_txt{
            font-size: pcFont(38.67);
        }
    }
}

.coji_inner{
    position: relative;
    .about_ill1{
        width: calc(575.57 / 650) * 100%;
        margin-left: calc(50 / 650) * 100%;
        padding-top: calc(165 / 650) * 100%;
    }
    .about_ill2{
        position: absolute;
        width: calc(141 / 650) * 100%;
        top: 0;
        left: 0;
    }
    .about_ill3{
        position: absolute;
        width: calc(85 / 650) * 100%;
        top: 0;
        right: 0;
        margin: 0{
            top: calc(150 / 650) * 100%;
            right: calc(90 / 650) * 100%;
        };
    }
}