@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;


.index{
    margin-top: spCalc(50);
    
    .anchor{
        width: spCalc(341);
        margin: spCalc(20) auto 0;
        display: flex;
        flex-wrap: nowrap;
        vertical-align: middle;
        align-items: center;
        justify-content: space-between;
        li{
            position: relative;
            width: calc(103 / 341) * 100%;
            cursor: pointer;
            a{
                color: #473729;
            }
            .index_kazari{
                position: absolute;
                top: 0;
                right: 0;
                z-index: 20;
                transform: rotate(45deg);
                transform-origin: bottom;
                opacity: 0;
                transition: all .5s .3s linear;
            }
            .index_sec{
                text-align: center;
                font-size: spFont(19);
                line-height: 1;
                margin-top: calc(8 / 103) * 100%;
                opacity: 0;
                transition: all .5s linear;
            }
            .index_ph{
                clip-path: circle(0%);
                transition: all 1s cubic-bezier(0.45, 0, 0.55, 1);
                position: relative;
                z-index: 10;
            }
        }
        &.move{
            li{
                .index_ph{
                    clip-path: circle(100%);
                }
                .index_sec{
                    opacity: 1;
                }
                .index_kazari{
                    opacity: 1;
                    transform: rotate(0);
                }
            }
        }
    }

    .index_1{
        padding-top: calc(11 / 341) * 100%;
        .index_kazari{
            width: calc(69.84 / 103) * 100%;
        }
    }
    .index_2{
        padding-top: calc(9 / 341) * 100%;
        margin-top: calc(27 / 341) * 100%;
        .index_kazari{
            width: calc(55.89 / 103) * 100%;
        }
    }
    .index_3{
        padding-top: calc(7 / 341) * 100%;
        .index_kazari{
            width: calc(107.09 / 103) * 100%;
            margin-right: -5%;
        }
    }
    @include pc{
        .anchor{
            li{
                .index_sec{
                    font-size: pcFont(22);
                }
            }

        }
    }
}
