@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;


.lineup{
    .lineup_wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        vertical-align: top;
        align-items: flex-start;
        width: spCalc(335);
        margin: 0 auto;
    }
    .lineup_info{
        transform: translateY(10px);
        width: calc(160/ 335) * 100%;
        margin-top: calc(30/ 335) * 100%;
        a{
            color: #473729;
        }
        .lineup_ph{
            line-height: 0;
            img{
                border-radius: 30px;
                @include pc{
                    border-radius: 40px;
                }
            }
        }
        .pickup_name{
            margin-top: calc(10 / 160) * 100%;
            font-size: spFont(10.4);
            line-height: 1.5;
            text-align: center;
        }
    }
   

    .buywrap{
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
        gap: 20px;
        margin-top: calc(5/ 160) * 100%;
        .price{
            font-size: spFont(10.4);
            line-height: 1;
        }
        .lineup_buy{
            width: calc(40/ 160) * 100%;
            line-height: 0;
        }
    }
    @include pc{
        .lineup_info{
            .pickup_name{
                font-size: pcFont(12);
            }
        }
        .buywrap{
            .price{
                font-size: pcFont(12);
            }
        }
        
    }
}

.allitems{
    width: spCalc(210);
    border-radius: 30px;
    background: #FFD205;
    box-shadow: 3px 3px 0px 0px rgba(133, 95, 60, 1);
    transform: translate(0,0);
    transition: all .3s ease;
    margin: 0 auto{
        top: spCalc(52);   
    };
    &:hover{
        transform: translate(3px,3px);
        box-shadow:none;
    }
    a{
        width: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: center;
        gap: 5px;
        padding: calc(13 / 210) * 100% 0;
        p{
            font-size: spFont(16.3); 
            line-height: 1;
        }
        span{
            display: block;
            width: 6.5px;
            line-height: 0;
        }
    }
    @include pc{
        border-radius: 45px;
        a{
            p{
                font-size: pcFont(18.85); 
            }
        }
    }

}