@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;



.wrapper{
    position: relative;
    .modal_bg{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        background: rgba(71, 55, 41, .4);
        opacity: 0;
        transition: all .3s ease;
        pointer-events: none;
        &.show{
            opacity: 1;
        }
    }
}


.modal{
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all .3s ease;
    
    &.show{
        opacity: 1;
        pointer-events: all;
        z-index: 1000;
    }
    .modal_inner{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #fff;
        border-radius: 75px;
        width: spCalc(340); 
        z-index: 10;
        @include pc{
            width: pcCalc(340); 
            border-radius: 96px;
        }
    }
    .close{
        z-index: 20;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        width: spCalc(38); 
        // margin: calc(-5 / 340) * 100% calc(-5 / 340) * 100% 0 0;
    }

    .modal_ph{
        width: calc(280 / 340) * 100%;
        padding-top: calc(30 / 340) * 100%;
        margin: 0 auto;
        img{
            border-radius: 45px;
            @include pc{
                border-radius: 55px;
            }
        }
    }
    
    .name_price{
        width: calc(270 / 340) * 100%;
        margin: calc(20 / 340) * 100% auto 0;
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: space-between;
        .modal_name{
            width: calc(195 / 270) * 100%;
            font-size: spFont(13);
            line-height: 1.6;
        }
        .modal_price{
            font-size: spFont(13);
        }
        @include pc{
            .modal_name{
                font-size: min(pcFont(15),17px);
            }
            .modal_price{
                font-size: min(pcFont(15),17px);
            }
        }
    }

    .buy{
        width: calc(55 / 340) * 100%;
        margin: calc(20 / 340) * 100% auto 0;
        padding-bottom: calc(30 / 340) * 100%;
        cursor: pointer;
    }
}

/* 矢印画像をボタンに設定 */
.swiper-button-next, .swiper-button-prev {
    width: 40px;
    height: 40px;
    top:40%!important;
    background-size: cover; /* 画像のサイズをボタンに合わせる */
    background-position: center; /* 画像の位置を中央に配置 */
    &::after{
        display: none;
    }
  }
  
  .swiper-button-next {
    background-image: url('../img/next.png'); /* 次へボタンの画像 */
  }
  
  .swiper-button-prev {
    background-image: url('../img/prev.png'); /* 前へボタンの画像 */
  }

  
  