@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;

.wrapper{
    @include pc{
        display: grid;
        align-items: start;
        grid-template-columns: pcCalc(866) pcCalc(1000) pcCalc(866);
        position: relative;
        z-index: 500;
    }
    
    .left-wrap,.right-wrap{
        position: sticky;
        top: 0;
        min-height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: opacity .5s ease;
        display: none;
        z-index: 200;
        @include pc{
            display: flex;
        }
    }
    .contents{
        max-width: 500px;
        margin: 0 auto;
        scroll-snap-type: y mandatory; /* または x */
        @include pc{
            overflow-y: scroll;
            position: relative;
            /* IE, Edge 対応 */
            -ms-overflow-style: none;
            /* Firefox 対応 */
            scrollbar-width: none;
            border-left: solid #000 0.8px;
            border-right: solid #000 0.8px;
        }
    }
}



.left-inner,.right-inner{
    // opacity: 0;
    transition: all .5s ease;
    position: fixed;
    height: 100vh;
    width: pcCalc(866);
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
    &.show{
        opacity: 1!important;
    }
}
.icon_wrap{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    margin-bottom: calc(20 / 866) * 100%;
    .icon{
        line-height: 0;
    }
}

.left-inner{
    left: 0;
    text-align: center;
    .pc_logo{
        position: absolute;
        width: calc(474.83 / 866) * 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
}


.right-inner{
    right: 0;
}

.icon_left{
    width: calc(745 / 866) * 100%;
    .mirror_icon{
        width: left(133.63);   
    }
    .tv_icon{
        width: left(140.42);   
    }
    .closet_icon{
        width: left(125.08);   
    }
    .book_icon{
        width: left(123.58);   
    }
}
.icon_right{
    width: calc(750 / 866) * 100%;
    .pc_icon{
        width: right(142.33);   
    }
    .bed_icon{
        width: right(142.46);   
    }
    .flower_icon{
        width: right(137.71);   
    }
    .sofa_icon{
        width: right(151.29);   
    }
}