@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;

.pc_lineup-wrap{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: pc(440);
    position: absolute;
}
.pc_lineup{
    margin: 0 auto;
    width: calc(199/ 400) * 100%;
}
.pc_anchor{
    width: calc(435 / 440) * 100%;
    margin: calc(45 / 440) * 100% auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    flex-wrap: wrap;
    li{
        &:nth-of-type(3),
        &:nth-of-type(4){
            margin-top: 17px;
        }
        border-radius: 50%;
        width: calc(200 / 435) * 100%;
            a{
                color: #000;
            .anchor_icon{
                width: 100%;
                line-height: 0;
            }
            p{
                margin-top: calc(20 / 200) * 100%;
                white-space: nowrap;
                text-align: center;
                font-size: pcFont(23);
                line-height: 1;
            }
        }
    }
}


.pc_allitems{
    width: 100%;
    margin: calc(70 / 400) * 100% auto 0;
    background: c.$main;
    border: solid 1px #000;
    border-radius: 50px;
    a{
        position: relative;
        display: block;
        width: 100%;
        line-height: 1;
        font-size: pcFont(30);
        text-align: center;
        color: #fff;
        padding: calc(39 / 440) * 100% 0;
        .arrow{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: block;
            width: 4px;
            line-height: 0;
            margin-right: calc(59 / 440) * 100%;
        }

    }
}