@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;

.lineup{
    width: spCalc(224.31);
    line-height: 0;
    margin: spCalc(95) auto 0;
}

.spanchor_list{
    width: spCalc(629);
    margin: spCalc(30) auto 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    li{
        width: calc(290 / 629) * 100%;
        height: auto;
        padding-top: calc(290 / 629) * 100%;
        background: #fff;
        position: relative;
        border-radius: 50%;
        .anchor_img{
            display: block;
            position: absolute;
            line-height: 0;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

        }
        .categoly{
            position: absolute;
            font-size: spFont(28);
            line-height: 1;
            white-space: nowrap;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            color: #000;
            z-index: 10;
            margin-bottom: -15%;
            @include pc{
                font-size: min(pcFont(37.33),18.7px);
            }
        }
    }
}

.anchor_1{
    span{
        width: calc(210.62 / 290) * 100%;
    }
}

.anchor_2{
    span{
        width: calc(175 / 290) * 100%;
    }
}

.anchor_3{
    margin-top: calc(80 / 629) * 100%;
    span{
        width: calc(161 / 290) * 100%;
    }
}

.anchor_4{
    margin-top: calc(80 / 629) * 100%;
    span{
        width: calc(244.73 / 290) * 100%;
    }
}