<div class="fixed_anchor-wrap sp">
    <ul class="fixed_anchor en">
        <li class="anchor_kichen">
            <a href="#sec_1">
                <p>
                    KITHEN
                </p>
            </a>
        </li>
        <li class="anchor_homegoods">
            <a href="#sec_2">
                <p>
                    HOME<br>GOODS
                </p>
            </a>
        </li>
        <li class="anchor_general">
            <a href="#sec_3">
                <p>
                    GENERAL<br>GOODS
                </p>
            </a>
        </li>
        <li class="anchor_fashion">
            <a href="#sec_4">
                <p>
                    FASHION
                </p>
            </a>
        </li>
    </ul>
</div>