<div class="topanchor">
    <div class="topanchor_inner">
        <div class="topanchor_chara change">
            <div class="topanchor_1">
                <img src="<%= rootURL %>/assets/img/anchor/back_cojicoji.png" alt="">
            </div>
            <div class="topanchor_2">
                <img src="<%= rootURL %>/assets/img/anchor/back_mua.png" alt="">
            </div>
        </div>
        <div class="topanchor_arrow">
            <img src="<%= rootURL %>/assets/img/toparrow.png" alt="">
        </div>
        <p>
            TOPへ戻る
        </p>
    </div>
</div>