@charset "UTF-8";
/* resset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible; /* Show the overflow in Edge and IE */
  height: 0; /* Add the correct box sizing in Firefox */
  color: inherit; /* Correct border color in Firefox. */
}

details,
main {
  display: block; /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

small {
  font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none; /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0; /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px; /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled=true] {
  cursor: default;
}

ol, ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.02em;
}
body.noscroll {
  overflow: hidden;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.contents {
  overflow: hidden;
}

.sp {
  display: block;
}
@media screen and (min-width: 920px) {
  .sp {
    display: none;
  }
}

.pc {
  display: none;
}
@media screen and (min-width: 920px) {
  .pc {
    display: block;
  }
}

a {
  cursor: pointer;
}

.fadein {
  opacity: 0;
  transition: all 0.3s linear;
}
.fadein.in {
  opacity: 1;
}

.en {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ja {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chara {
  position: absolute;
  line-height: 0;
}

.line {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@keyframes aruku {
  0%, 100% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}
@keyframes fuwafuwa_1 {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
  }
}
.top {
  width: 100%;
  position: relative;
}
.top .top_mv {
  padding: 0 0 13.3333333333%;
  width: 100%;
  margin: 0 auto;
}
.top .top_cojicoji {
  bottom: 0;
  left: 0;
  width: 29.2013333333%;
  margin-left: 2.5333333333%;
}
.top .top_cojicoji img {
  animation: aruku 2s linear infinite;
  transform-origin: bottom center;
}
.top .top_usako {
  bottom: 0;
  right: 0;
  width: 16.3146666667%;
  margin-right: 3.7333333333%;
}
.top .top_usako img {
  animation: fuwafuwa_1 1.5s ease infinite alternate-reverse;
  transform-origin: bottom center;
}

.top_logo {
  width: 59.2386666667%;
  margin: 0 auto;
  margin-top: 0.8%;
}

.top_chara {
  position: relative;
  margin-top: 7.8666666667%;
  width: 100%;
  height: auto;
}
.top_chara .top_korosuke {
  bottom: 0;
  left: 0;
  width: 20.1853333333%;
  margin-left: 12.1333333333%;
}
.top_chara .top_jiro {
  margin-left: 35.192%;
  width: 20.6773333333%;
}
.top_chara .top_teruko {
  top: 0;
  right: 0;
  margin-right: 10.2666666667%;
  margin-top: 0.6666666667%;
  width: 16.4%;
}

.lead {
  font-size: 3.6vw;
  line-height: 1.9259259259;
  text-align: center;
  margin-top: 5.4666666667%;
}
@media screen and (min-width: 920px) {
  .lead {
    font-size: 1.317715959vw;
  }
}

.schedule {
  background: 90.6666666667%;
  margin: 21.3333333333% auto 0;
  position: relative;
  background: #fff;
  border-radius: 20px;
  width: 90.6666666667%;
  padding-bottom: 6%;
}
.schedule h3 {
  font-size: 3.7333333333vw;
  line-height: 1;
  width: 70.5352941176%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #E95464;
  border-radius: 30px;
  border: solid 1.5px #000;
  text-align: center;
  color: #fff;
  padding: 2.9411764706% 0;
  margin-top: -6.6176470588%;
}
@media screen and (min-width: 920px) {
  .schedule h3 {
    font-size: 1.3543191801vw;
  }
}

.date_ttl {
  text-align: center;
  font-size: 4vw;
  line-height: 1;
  padding: 10.2941176471% 0 3px;
  color: #E95464;
  border-bottom: solid 1px #E95464;
  display: block;
  width: fit-content;
  margin: 0 auto;
}
@media screen and (min-width: 920px) {
  .date_ttl {
    font-size: 1.3543191801vw;
  }
}

.date_wrap {
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 71.0294117647%;
  margin: 3.3823529412% auto 0;
  gap: 18px;
  justify-content: left;
  color: #E95464;
}
.date_wrap .place {
  width: 26.5010351967%;
  border-radius: 30px;
  border: solid #E95464 1px;
  text-align: center;
  line-height: 1;
  padding: 1.6563146998% 0 2.2774327122%;
  font-size: 4vw;
}
.date_wrap .store_date {
  font-size: 4.2666666667vw;
  white-space: nowrap;
}
.date_wrap .store_date span {
  font-size: 6vw;
}
@media screen and (min-width: 920px) {
  .date_wrap .place {
    font-size: min(1.4641288433vw, 20px);
  }
  .date_wrap .store_date {
    font-size: min(1.5739385066vw, 21.5px);
  }
  .date_wrap .store_date span {
    font-size: min(2.196193265vw, 30px);
  }
}

.schedule_txt1 {
  font-size: 3.7333333333vw;
  width: 91.4117647059%;
  margin: 4.8529411765% auto 0;
}
@media screen and (min-width: 920px) {
  .schedule_txt1 {
    font-size: min(1.366398243vw, 18.7px);
  }
}

.schedule_txt2 {
  font-size: 4vw;
  text-align: center;
  margin: 2.7941176471% auto 0;
  line-height: 1.8;
}
@media screen and (min-width: 920px) {
  .schedule_txt2 {
    font-size: min(1.4641288433vw, 20px);
  }
}

.mainte_date {
  text-align: center;
  color: #E95464;
  font-size: 4.2666666667vw;
  white-space: nowrap;
  line-height: 1;
  margin: 5.8823529412% auto 0;
}
.mainte_date span {
  font-size: 6vw;
}
@media screen and (min-width: 920px) {
  .mainte_date {
    font-size: min(1.5739385066vw, 21.5px);
  }
  .mainte_date span {
    font-size: min(2.196193265vw, 30px);
  }
}

.countdown {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 37.3333333333%;
  padding-top: 37.3333333333%;
  border-radius: 50%;
  height: 0;
  background: #FFFB95;
  border: solid #000 1px;
  z-index: 50;
  margin: 0 10px 10px 0;
  box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: translateY(0) rotate(0);
}
.countdown.hidden {
  transform: translateY(150%) rotate(45deg);
}
.countdown .countdown_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  white-space: nowrap;
}
.countdown .countdown_inner .countdown_txt {
  font-size: 2.9333333333vw;
}
.countdown .countdown_inner .countdown_txt span {
  font-size: 4vw;
}
.countdown .geran {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 52.3607142857%;
  margin-top: -26.7642857143%;
}
@media screen and (min-width: 920px) {
  .countdown {
    right: inherit;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    width: 186.665px;
    margin-bottom: 47.1131639723%;
    width: 64.6651270208%;
    padding-top: 25.4041570439%;
    border-radius: 60px;
  }
  .countdown .countdown_inner .countdown_txt {
    font-size: min(1.0614934114vw, 14.5px);
  }
  .countdown .countdown_inner .countdown_txt span {
    font-size: min(1.4641288433vw, 20px);
  }
  .countdown .geran {
    width: 29%;
    margin-top: -20.1785714286%;
  }
}

.countdown_date {
  display: flex;
  text-align: end;
  vertical-align: bottom;
  justify-content: center;
  align-items: flex-end;
  line-height: 1;
  margin-top: 6.0714285714%;
}
.countdown_date .ato {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 4.6666666667vw;
}
.countdown_date .countdown_num {
  -webkit-text-stroke-width: 2px;
  color: #E95464;
  font-size: 14vw;
  margin-bottom: -5px;
}
.countdown_date .nichi {
  font-size: 4.6666666667vw;
}
@media screen and (min-width: 920px) {
  .countdown_date .ato {
    font-size: min(1.2811127379vw, 17.5px);
    -ms-writing-mode: unset;
    writing-mode: unset;
  }
  .countdown_date .countdown_num {
    font-size: min(3.8433382138vw, 52.5px);
  }
  .countdown_date .nichi {
    font-size: min(1.2811127379vw, 17.5px);
  }
}

.animation_wrap {
  position: relative;
  height: auto;
}

.animation_1 {
  margin: 9.3333333333% 0 9.0666666667%;
  width: 100%;
  padding-top: 38.5333333333%;
}
.animation_1 .table {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 26.6653333333%;
  margin-bottom: 3.3333333333%;
}
.animation_1 .teruko {
  top: 0;
  right: 0;
  width: 13.4666666667%;
  margin-right: 29.2%;
}
.animation_1 .useko {
  bottom: 0;
  right: 0;
  width: 12.4106666667%;
  margin-right: 19.5333333333%;
}
.animation_1 .tommy {
  bottom: 0;
  left: 0;
  width: 14.2666666667%;
  margin-left: 18.2666666667%;
  margin-bottom: 8.6666666667%;
}

.animation_2 {
  margin: 11.7333333333% 0 5.2%;
  width: 100%;
}
.animation_2 .yakan {
  line-height: 0;
  width: 23.128%;
  margin: 0 33.4666666667% 0 auto;
}
.animation_2 .kamekichi {
  width: 21.7266666667%;
  bottom: 0;
  left: 0;
}

.animation_3 {
  margin: 11.7333333333% 0 5.2%;
  width: 100%;
}
.animation_3 .bed {
  line-height: 0;
  width: 25.1226666667%;
  margin: 0 auto 0 28.5333333333%;
}
.animation_3 .juro {
  width: 18.4933333333%;
  bottom: 0;
  right: 0;
  margin: 0;
  margin-bottom: 0.6666666667%;
  margin-right: 25.2%;
}

.animation_4 {
  margin: 12% 0 3.7333333333%;
  width: 100%;
}
.animation_4 .pckun {
  line-height: 0;
  width: 24.9413333333%;
  margin: 0 auto 0 40%;
  padding: 3.7333333333% 0 4.2666666667%;
}
.animation_4 .harehare {
  width: 20.2866666667%;
  bottom: 0;
  left: 0;
  margin: 0;
  margin-left: 17.6666666667%;
}
.animation_4 .jonny {
  width: 14.832%;
  top: 0;
  right: 0;
  margin: 0;
  margin-right: 16.3466666667%;
}

.animation_5 {
  margin: 10.8666666667% 0 1.7333333333%;
  width: 100%;
}
.animation_5 .mirror {
  line-height: 0;
  width: 24.636%;
  margin: 0 auto 0 38.7333333333%;
  padding: 0 0 6.2%;
}
.animation_5 .okame {
  width: 18.2306666667%;
  bottom: 0;
  left: 0;
  margin: 0;
  margin-left: 17.3333333333%;
}
.animation_5 .pero {
  width: 20.4266666667%;
  bottom: 0;
  right: 0;
  margin: 0;
  margin-right: 13.2%;
  margin-bottom: 0.8%;
}

.animation_6 {
  margin: 0.8% 0 4%;
  width: 100%;
}
.animation_6 .flower {
  line-height: 0;
  width: 15.6293333333%;
  margin: 0 auto 0 25.2%;
  padding: 25.0266666667% 0 0;
}
.animation_6 .couple {
  width: 32.816%;
  top: 0;
  left: 0;
  margin: 0;
  margin-left: 45%;
}

.allitems {
  width: 66.6666666667%;
  margin: 13.3333333333% auto 11.0666666667%;
  background: #E95464;
  border: solid 1px #000;
  border-radius: 35px;
}
.allitems a {
  width: 100%;
  padding: 7.8% 0;
  text-align: center;
  display: block;
  position: relative;
  color: #fff;
}
.allitems a .arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 4px;
  margin-right: 15.8%;
  line-height: 0;
}

.about_wrap {
  width: 86.6666666667%;
  margin: 0 auto 4%;
  background: #fff;
  border-radius: 15px;
  padding: 11.0666666667% 0 10.1333333333%;
}
.about_wrap .coji-about_ttl {
  width: 62.3369230769%;
  margin: 0 auto;
  line-height: 0;
}
.about_wrap .about_cojicoji {
  line-height: 1;
  font-size: 4vw;
  text-align: center;
}
.about_wrap .about_txt {
  font-size: 3.8666666667vw;
  line-height: 1.8;
  width: 81.7276923077%;
  margin: 4.4615384615% auto 0;
}
@media screen and (min-width: 920px) {
  .about_wrap .about_cojicoji {
    font-size: min(1.4641288433vw, 20px);
  }
  .about_wrap .about_txt {
    font-size: min(1.4154465593vw, 19.3px);
  }
}

.coji_inner {
  position: relative;
}
.coji_inner .about_ill1 {
  width: 88.5492307692%;
  margin-left: 7.6923076923%;
  padding-top: 25.3846153846%;
}
.coji_inner .about_ill2 {
  position: absolute;
  width: 21.6923076923%;
  top: 0;
  left: 0;
}
.coji_inner .about_ill3 {
  position: absolute;
  width: 13.0769230769%;
  top: 0;
  right: 0;
  margin: 0;
  margin-top: 23.0769230769%;
  margin-right: 13.8461538462%;
}

.info_wrap {
  width: 86.6666666667%;
  margin: 0 auto 5.3333333333%;
  padding: 9.2666666667% 0 8%;
  background: #fff;
  border-radius: 15px;
  line-height: 1.7;
}
.info_wrap .info_ttl {
  width: 53.4346666667%;
  margin: 0 auto 5.3333333333%;
}
.info_wrap .info_img {
  width: 81.2323076923%;
  margin: 8.5846153846% auto 0;
  line-height: 0;
}
.info_wrap .cafe {
  text-align: center;
  color: #E95464;
  margin: 6.1538461538% auto 0;
  font-size: 4.6666666667vw;
  line-height: 1.5;
}
.info_wrap .cafe_txt {
  width: 75.74%;
  margin: 4.3076923077% auto 0;
  font-size: 3.8666666667vw;
}
.info_wrap .cafe_txt span {
  font-size: 3.3333333333vw;
}
.info_wrap .store_info {
  display: block;
  width: fit-content;
  margin: 10.7692307692% auto 0;
  text-align: center;
  font-size: 4vw;
  border-bottom: solid 1px #E95464;
  color: #E95464;
}
.info_wrap .store_name {
  margin: 5.3846153846% auto 0;
  text-align: center;
  color: #E95464;
  font-size: 3.8666666667vw;
}
@media screen and (min-width: 920px) {
  .info_wrap .cafe {
    font-size: min(1.708272328vw, 23.3px);
  }
  .info_wrap .cafe_txt {
    font-size: min(1.4154465593vw, 19.3px);
  }
  .info_wrap .cafe_txt span {
    font-size: min(1.2199853587vw, 16.5px);
  }
  .info_wrap .store_info {
    font-size: min(1.4641288433vw, 20px);
  }
  .info_wrap .store_name {
    font-size: min(1.4154465593vw, 19.3px);
  }
}

.footer_chara-wrap {
  width: 100%;
  position: relative;
  height: auto;
  padding-top: 65.8666666667%;
}

.footer_cojicoji {
  bottom: 0;
  left: 0;
  width: 32.0066666667%;
  margin-left: 36.4%;
}

.footer_jiro {
  bottom: 0;
  left: 0;
  width: 25.112%;
  margin-left: 8.6666666667%;
}

.footer_usako {
  bottom: 0;
  right: 0;
  width: 18.2226666667%;
  margin-right: 10.2133333333%;
}

.footer_tommy {
  top: 0;
  left: 0;
  width: 18.1333333333%;
  margin-left: 19.7333333333%;
  margin-top: 8.8%;
}

.footer_teruko {
  top: 0;
  right: 0;
  width: 18.6666666667%;
  margin-right: 15.28%;
}

.footer_logo {
  width: 50.2093333333%;
  margin: 10.5333333333% auto 0;
  line-height: 0;
}

.sns {
  display: flex;
  flex-wrap: wrap;
  width: 77.7333333333%;
  justify-content: space-between;
  margin: 12.2666666667% auto 0;
}
.sns li {
  width: 42.8816466552%;
}
.sns li a {
  text-align: center;
  line-height: 0;
}
.sns li div {
  margin: 0 auto;
  line-height: 1;
}

.link_shoplist .link_inner {
  width: 77.6%;
}

.link_online .link_inner {
  width: 100%;
}

.link_staff {
  margin-top: 7.6%;
}
.link_staff .link_inner {
  width: 100.4%;
}

.link_insta {
  margin-top: 7.6%;
}
.link_insta .link_inner {
  width: 88%;
}

.copyright {
  font-size: 3.0666666667vw;
  text-align: center;
  padding: 9.6% 0 11.8666666667%;
}
@media screen and (min-width: 920px) {
  .copyright {
    font-size: min(1.1226207906vw, 15.3px);
  }
}

@media screen and (min-width: 920px) {
  .wrapper {
    display: grid;
    align-items: start;
    grid-template-columns: 31.6983894583% 36.6032210835% 31.6983894583%;
    position: relative;
    z-index: 500;
  }
}
.wrapper .left-wrap, .wrapper .right-wrap {
  position: sticky;
  top: 0;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  display: none;
  z-index: 100;
}
@media screen and (min-width: 920px) {
  .wrapper .left-wrap, .wrapper .right-wrap {
    display: flex;
  }
}
.wrapper .contents {
  max-width: 500px;
  margin: 0 auto;
  scroll-snap-type: y mandatory; /* または x */
}
@media screen and (min-width: 920px) {
  .wrapper .contents {
    overflow-y: scroll;
    position: relative;
    /* IE, Edge 対応 */
    -ms-overflow-style: none;
    /* Firefox 対応 */
    scrollbar-width: none;
    border-left: solid #000 0.8px;
    border-right: solid #000 0.8px;
  }
}

.left-inner, .right-inner {
  transition: all 0.5s ease;
  position: fixed;
  height: 100vh;
  width: 31.6983894583%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}
.left-inner.show, .right-inner.show {
  opacity: 1 !important;
}

.icon_wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  margin-bottom: 2.3094688222%;
}
.icon_wrap .icon {
  line-height: 0;
}

.left-inner {
  left: 0;
  text-align: center;
}
.left-inner .pc_logo {
  position: absolute;
  width: 54.8302540416%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 96.0739030023%;
}

.right-inner {
  right: 0;
}

.icon_left {
  width: 86.0277136259%;
}
.icon_left .mirror_icon {
  width: 17.9369127517%;
}
.icon_left .tv_icon {
  width: 18.8483221477%;
}
.icon_left .closet_icon {
  width: 16.789261745%;
}
.icon_left .book_icon {
  width: 16.5879194631%;
}

.icon_right {
  width: 86.6050808314%;
}
.icon_right .pc_icon {
  width: 19.1046979866%;
}
.icon_right .bed_icon {
  width: 19.122147651%;
}
.icon_right .flower_icon {
  width: 18.4845637584%;
}
.icon_right .sofa_icon {
  width: 20.3073825503%;
}

.lineup {
  width: 29.908%;
  line-height: 0;
  margin: 12.6666666667% auto 0;
}

.spanchor_list {
  width: 83.8666666667%;
  margin: 4% auto 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  gap: 55px 0;
}
.spanchor_list li {
  width: 46.1049284579%;
  height: auto;
  padding-top: 46.1049284579%;
  background: #fff;
  position: relative;
  border-radius: 50%;
}
.spanchor_list li:hover .anchor_img img {
  transform: scale(1.05, 1.05);
}
.spanchor_list li .anchor_img {
  width: 100%;
  line-height: 0;
  display: block;
  position: absolute;
  line-height: 0;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: hidden;
}
.spanchor_list li .anchor_img img {
  transition: all 0.5s ease;
  transform: scale(1, 1);
}
.spanchor_list li .categoly {
  position: absolute;
  font-size: 3.7333333333vw;
  line-height: 1;
  white-space: nowrap;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  color: #000;
  z-index: 10;
  margin-bottom: -15%;
}
@media screen and (min-width: 920px) {
  .spanchor_list li .categoly {
    font-size: min(1.366398243vw, 18.7px);
  }
}

.pc_lineup-wrap {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50.8083140878%;
  position: absolute;
}

.pc_lineup {
  margin: 0 auto;
  width: 49.75%;
}

.pc_anchor {
  width: 98.8636363636%;
  margin: 10.2272727273% auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  flex-wrap: wrap;
  gap: 35px 0;
}
.pc_anchor li {
  border-radius: 50%;
  width: 45.9770114943%;
  height: auto;
  padding-top: 46.1049284579%;
  background: #fff;
  position: relative;
  border-radius: 50%;
}
.pc_anchor li:hover .anchor_icon img {
  transform: scale(1.05, 1.05);
}
.pc_anchor li a {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  color: #000;
  line-height: 0;
}
.pc_anchor li a p {
  margin-top: 10%;
  white-space: nowrap;
  text-align: center;
  font-size: 0.8418740849vw;
  line-height: 1;
}
.pc_anchor li .anchor_icon {
  width: 100%;
}
.pc_anchor li .anchor_icon img {
  transform: scale(1, 1);
  transition: all 0.5s ease;
}

.pc_allitems {
  width: 100%;
  margin: 17.5% auto 0;
  background: #E95464;
  border: solid 1px #000;
  border-radius: 50px;
  position: relative;
  transition: all 0.3s linear;
}
.pc_allitems a {
  position: relative;
  display: block;
  width: 100%;
  line-height: 1;
  font-size: 1.0980966325vw;
  text-align: center;
  color: #fff;
  padding: 8.8636363636% 0;
  transition: all 0.3s linear;
}
.pc_allitems::after, .pc_allitems::before {
  content: "";
  width: 4px;
  background: #fff;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  transform-origin: right;
  margin-right: 13.4090909091%;
  transition: all 0.3s linear;
}
.pc_allitems::after {
  transform: translateY(-50%) rotate(45deg);
}
.pc_allitems::before {
  transform: translateY(-50%) rotate(-45deg);
}
.pc_allitems:hover {
  background: #fff;
}
.pc_allitems:hover a {
  color: #E95464;
}
.pc_allitems:hover::after, .pc_allitems:hover::before {
  background: #E95464;
  margin-right: 11.1363636364%;
}

.fixed_anchor-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 30px;
  transform: translateX(-150%);
  transition: all 0.3s linear;
}
.fixed_anchor-wrap.show {
  transform: translateX(0);
}
.fixed_anchor-wrap.visible .fixed_anchor {
  transform: translateX(0);
}
.fixed_anchor-wrap .fixed_anchor {
  transform: translateX(-150%);
  transition: all 0.3s linear;
}
.fixed_anchor-wrap .fixed_anchor li {
  width: 34.5px;
  height: 100px;
  box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 0 20px 20px 0;
  margin-top: -1px;
}
.fixed_anchor-wrap .fixed_anchor li a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.fixed_anchor-wrap .fixed_anchor li a p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 3.2vw;
}
.fixed_anchor-wrap .fixed_anchor .anchor_kichen p, .fixed_anchor-wrap .fixed_anchor .anchor_fashion p {
  line-height: 1;
}
.fixed_anchor-wrap .fixed_anchor .anchor_homegoods p, .fixed_anchor-wrap .fixed_anchor .anchor_general p {
  line-height: 1.1;
}

.topanchor {
  position: fixed;
  width: 26.6666666667%;
  height: 0;
  padding-top: 26.6666666667%;
  border-radius: 50%;
  background: #FFD7D7;
  border: solid 1px #000;
  z-index: 200;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
  transition: all 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: translateY(150%) rotate(45deg);
}
@media screen and (min-width: 920px) {
  .topanchor {
    display: none;
  }
}
.topanchor.show {
  transform: translateY(0) rotate(0);
}
.topanchor.change .topanchor_chara .topanchor_1 {
  opacity: 0;
}
.topanchor.change .topanchor_chara .topanchor_2 {
  opacity: 1;
}
.topanchor .topanchor_inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.topanchor .topanchor_chara {
  width: 100%;
  position: relative;
}
.topanchor .topanchor_chara .topanchor_1 {
  position: relative;
  width: 42.35%;
  margin: 0 auto;
  line-height: 0;
  z-index: 1;
  opacity: 1;
  transition: all 0.5s ease;
}
.topanchor .topanchor_chara .topanchor_2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 42.35%;
  line-height: 0;
  z-index: 5;
  opacity: 0;
  transition: all 0.5s ease;
}
.topanchor .topanchor_arrow {
  width: 11px;
  line-height: 0;
  margin: 2px auto;
  position: relative;
  z-index: 15;
}
.topanchor p {
  position: relative;
  font-size: 2.7733333333vw;
  line-height: 1;
  z-index: 15;
  text-align: center;
}
@media screen and (min-width: 920px) {
  .topanchor {
    width: 133px;
    height: 133px;
    padding: 0;
  }
  .topanchor .topanchor_chara .topanchor_1 {
    width: 42.3482206472%;
  }
  .topanchor .topanchor_chara .topanchor_2 {
    width: 42.3482206472%;
  }
  .topanchor .topanchor_arrow {
    width: 13px;
  }
  .topanchor p {
    font-size: min(1.0150073206vw, 13.8px);
  }
}

.secttl_wrap {
  color: #E95464;
  text-align: center;
}
.secttl_wrap .num {
  line-height: 1;
  margin: 0 auto;
  font-size: 6.6666666667vw;
}
.secttl_wrap .secttl {
  line-height: 1;
  margin: 3.2% auto 0;
  font-size: 8.2666666667vw;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 920px) {
  .secttl_wrap .num {
    font-size: min(2.4403367496vw, 33.3px);
  }
  .secttl_wrap .secttl {
    font-size: min(3.025988287vw, 41.3px);
  }
}

.sec_mv {
  line-height: 0;
  width: 100%;
  position: relative;
  margin: 8.6666666667% auto 7.8666666667%;
  position: relative;
}
.sec_mv .button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 6%;
  line-height: 0;
  margin: 0;
  margin-bottom: 9.7333333333%;
  margin-right: 7.2%;
}

.item_wrap .item_ph {
  line-height: 0;
  position: relative;
}
.item_wrap .item_info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  margin-top: 13px;
}
.item_wrap .item_info .secret_name {
  font-size: 3.4666666667vw;
  color: #E95464;
  text-align: center;
  width: 100%;
}
.item_wrap .item_info .itemname {
  font-size: 3.4666666667vw;
}
.item_wrap .item_info .buy {
  background: #E95464;
  border: solid 1.5px #000;
  border-radius: 15px;
  text-align: center;
  max-width: 75.6px;
}
.item_wrap .item_info .buy a {
  font-size: 3.4666666667vw;
  color: #fff;
  line-height: 1;
  padding: 15.652173913% 0 9.5652173913%;
}
@media screen and (min-width: 920px) {
  .item_wrap .item_info .itemname, .item_wrap .item_info .secret_name {
    font-size: min(1.269033675vw, 17.3px);
  }
  .item_wrap .item_info .buy a {
    font-size: min(1.269033675vw, 17.3px);
  }
}

.question {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.release {
  font-size: 4vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #E95464;
  line-height: 1;
  white-space: nowrap;
}
@media screen and (min-width: 920px) {
  .release {
    font-size: min(1.4641288433vw, 20px);
  }
}

.item_wrap.single {
  width: 92.2013333333%;
  margin: 0 auto 3.0666666667%;
}
.item_wrap.single .item_ph .question {
  width: 18.6316900696%;
}
.item_wrap.single .item_ph .release {
  margin-top: 10.5566080028%;
}
.item_wrap.single .itemname {
  line-height: 1;
}
.item_wrap.single .buy {
  width: 16.6666666667%;
}

.item_flex {
  display: flex;
  width: 92.2666666667%;
  justify-content: space-between;
  margin: 0 auto 4.2666666667%;
}
.item_flex .item_wrap.double {
  width: 48.4104046243%;
}
.item_flex .item_wrap.double .item_ph .question {
  width: 23.1223880597%;
}
.item_flex .item_wrap.double .item_ph .release {
  margin-top: 11.9402985075%;
}
.item_flex .item_wrap.double .itemname {
  line-height: 1.5;
}
.item_flex .item_wrap.double .buy {
  width: 34.328358209%;
}

.wrapper {
  position: relative;
}
.wrapper .modal_bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5450980392);
  opacity: 0;
  transition: all 0.5s ease;
  pointer-events: none;
}
.wrapper .modal_bg.show {
  pointer-events: visible;
  opacity: 1;
}

.modal {
  position: fixed;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.26);
  width: 84%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 9.3333333333% 0 8.9333333333%;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease;
}
.modal.show {
  opacity: 1;
  pointer-events: all;
  z-index: 1000;
}
.modal .modal_img {
  width: 80.0095238095%;
  margin: 0 auto;
  line-height: 0;
}
@media screen and (min-width: 920px) {
  .modal {
    width: 23.0600292826%;
    padding: 3.4040995608% 0 3.2576866764%;
  }
}

.modal_itemlist {
  width: 79.3650793651%;
  margin: 0 auto;
}
.modal_itemlist li {
  margin-top: 8%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
}
.modal_itemlist li:nth-of-type(1) {
  margin-top: 10.6%;
}
.modal_itemlist li p {
  line-height: 1;
  font-size: 3.4666666667vw;
}
@media screen and (min-width: 920px) {
  .modal_itemlist li p {
    font-size: min(1.269033675vw, 17.3px);
  }
}

.modal_buy {
  width: 23%;
  background: #E95464;
  border: solid 1px #000;
  border-radius: 15px;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.modal_buy a {
  font-size: 3.4666666667vw;
  width: 100%;
  line-height: 1;
  color: #fff;
  text-align: center;
  display: block;
  padding: 8.6956521739% 0 7.8260869565%;
}
@media screen and (min-width: 920px) {
  .modal_buy a {
    font-size: min(1.269033675vw, 17.3px);
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 9.5238095238%;
  line-height: 0;
  margin: 0;
  margin-top: -1.5873015873%;
  margin-right: -1.5873015873%;
}

.height {
  line-height: 1.5 !important;
}/*# sourceMappingURL=style.css.map */