<div class="info_wrap">
    <p class="info_ttl">
        <img src="<%= rootURL %>/assets/img/info/information.png" alt="">
    </p>
    <div class="info_img">
        <img src="<%= rootURL %>/assets/img/info/info_img.jpg" alt="">
    </div>
    <p class="cafe">
        studio CLIP CAFEに<br>
        限定コラボメニューが登場！
    </p>
    <p class="cafe_txt">
        2026年1月9日（金）からstudio CLIP CAFEにてコジコジとのコラボメニューを発売します。
        <br>
        <span>
            ※なくなり次第終了
        </span>
    </p>
    <p class="store_info">
        展開店舗
    </p>
    <p class="store_name">
        グランツリー武蔵小杉店 studio CLIP CAFE<br>
        ゆめタウン広島店 studio CLIP CAFE<br>
        ゆめタウン光の森店 studio CLIP CAFE        
    </p>
</div>