
    <div class="modal modal_1" data-modal="1">
        <div class="close">
            <img src="<%= rootURL %>/assets/img/close.png" alt="">
        </div>
        <div class="modal_img">
            <img src="<%= rootURL %>/assets/img/modal/modal_1.png" alt="">
        </div>
        <ul class="modal_itemlist">
            <li>
                <p class="moda_itemname">
                    餃子皿  ¥2,990      （税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=630077" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    炒飯皿  ¥2,490（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=630076" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    レンゲ  ¥1,100（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=630078" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    グラス    ¥1,100（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=632430" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    せいろ  ¥2,640（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=622039" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <div class="modal modal_2" data-modal="2">
        <div class="close">
            <img src="<%= rootURL %>/assets/img/close.png" alt="">
        </div>
        <div class="modal_img">
            <img src="<%= rootURL %>/assets/img/modal/modal_1.png" alt="">
        </div>
        <ul class="modal_itemlist">
            <li>
                <p class="moda_itemname">
                    クーラーバッグ ¥2,490（税込）
                </p>
                <div class="modal_buy">
                    <a href="" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    ペットボトルホルダー 600ml ¥2,200（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=630077" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    ペットボトルホルダー 350ml ¥1,890（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=630076" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    保冷剤L ¥880（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=630078" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    保冷剤S ¥1,100（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=632430" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    せいろ  ¥2,640（税込）
                </p>
                <div class="modal_buy">
                    <a href="https://www.dot-st.com/studioclip/disp/CSfGoodsPage_001.jsp?ITEM_CD=622039" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
        </ul>
    </div>
