<div class="modal_wrap">
    <div class="modal show modal_1" data-modal="1">
        <div class="close">
            <img src="<%= rootURL %>/assets/img/close.png" alt="">
        </div>
        <div class="modal_img">
            <img src="<%= rootURL %>/assets/img/modal/modal_1.png" alt="">
        </div>
        <ul class="modal_itemlist">
            <li>
                <p class="moda_itemname">
                    小どんぶり  ¥2,490（税込）
                </p>
                <div class="modal_buy">
                    <a href="" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    小どんぶり  ¥2,490（税込）
                </p>
                <div class="modal_buy">
                    <a href="" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    小どんぶり  ¥2,490（税込）
                </p>
                <div class="modal_buy">
                    <a href="" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
            <li>
                <p class="moda_itemname">
                    小どんぶり  ¥2,490（税込）
                </p>
                <div class="modal_buy">
                    <a href="" target="_blank">
                        BUY
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>