<div class="countdown hidden">
    <div class="countdown_inner">
        <p class="countdown_txt">
            <span>2026</span>年<span>1</span>月<span>9</span>日(金)発売
        </p>
        <div class="countdown_date">
            <p class="ato">
                あと
            </p>
            <p class="countdown_num en line" id="daysPc">
            </p>
            <p class="nichi">
                日
            </p>
        </div>
    </div>
    <div class="geran">
        <img src="<%= rootURL %>/assets/img/top/geran.png" alt="">
    </div>
</div>

