<div class="schedule">
    <h3>
        購入希望のお客様へ
    </h3>
    <div class="store_schedule">
        <p class="date_ttl">
            発売日
        </p>
        <div class="date_wrap">
            <p class="place">
                and ST
            </p>
            <p class="store_date"> 
                <span>1</span>月<span>9</span>日(金) <span>9:00 ～</span>
            </p>
        </div>
        <div class="date_wrap">
            <p class="place">
                実店舗
            </p>
            <p class="store_date"> 
                <span>1</span>月<span>9</span>日(金)
            </p>
        </div>
        <p class="schedule_txt1">
            ※12月26日(金) 9:00～ and STにて商品ページを公開。
        </p>
        <p class="schedule_txt2">
            お気に入り登録をして、<br>
            販売開始までお待ちくださいませ。
        </p>
    </div>
    <div class="maintenance_schedule">
        <p class="date_ttl">
            メンテナンス日程
        </p>
        <p class="mainte_date">
            <span>1</span>月<span>7</span>日(水) <span>9:00 ～ 1</span>月<span>9</span>日(金) <span>8:59</span>
        </p>
        <p class="schedule_txt1">
            ※メンテナンス日程期間は販売準備のため商品ページの閲覧が出来なくなります。商品ページが非公開となっても、お気に入り登録が外れることはございません。商品ページが再度公開されると、お気に入り登録からも閲覧可能となります。
        </p>
    </div>
</div>