@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;


.secttl_wrap{
    color: c.$main;
    text-align: center;
    .num{
        line-height: 1;
        margin: 0 auto;
        font-size: spFont(50);
    }
    .secttl{
        line-height: 1;
        margin: spCalc(24) auto 0;
        font-size: spFont(62);
        letter-spacing: 0.1em;
    }
    @include pc{
        .num{
            font-size: min(pcFont(66.67),33.3px);
        }
        .secttl{
            font-size: min(pcFont(82.67),41.3px);
        }        
    }
}
.sec_mv{
    line-height: 0;
    width: 100%;
    position: relative;
    margin: spCalc(65) auto spCalc(59);
    position: relative;
    .button{
        position: absolute;
        bottom: 0;
        right: 0;
        width: spCalc(45);
        line-height: 0;
        margin: 0{
            bottom: spCalc(73);
            right: spCalc(54);
        };
    }
}

.item_wrap{
    .item_ph{
        line-height: 0;
        position: relative;
    }
    .item_info{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
        margin-top: 13px;
        .secret_name{
            font-size: spFont(26);
            color: c.$main;
            text-align: center;
            width: 100%;
        }
        .itemname{
            font-size: spFont(26);
        }

        .buy{
            background: c.$main;
            border: solid 1.5px #000;
            border-radius: 15px;
            text-align: center;
            max-width: 75.6px;   
            a{
                font-size: spFont(26);
                color: #fff;
                line-height: 1;
                padding: calc(18 / 115) * 100% 0 calc(11 / 115) * 100%;
            }
        }
        @include pc{
            .itemname,.secret_name{
                font-size:min(pcFont(34.67),17.3px);
            }

            .buy{
                a{
                    font-size:min(pcFont(34.67),17.3px);
                }
            }
            
        }
    }

}
.question{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.release{
    font-size: spFont(30);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);    
    color: c.$main;
    line-height: 1;
    white-space: nowrap;
    @include pc{
        font-size:min(pcFont(40),20px);
    }
}

.item_wrap.single{
    width: spCalc(691.51);
    margin: 0 auto spCalc(23);
    .item_ph{
        .question{
            width: calc(128.84 / 691.51) * 100%;
        }
        .release{
            margin-top: calc(73 / 691.51) * 100%;
        }
    }
    .itemname{
        line-height: 1;
    }
    .buy{
        width: calc(115 / 690) * 100%;
    }
}

.item_flex{
    display: flex;
    width: spCalc(692);
    justify-content: space-between;
    margin: 0 auto spCalc(32);
    .item_wrap.double{
        width: calc(335 / 692) * 100%;
        .item_ph{
            .question{
                width: calc(77.46 / 335) * 100%;
            }
            .release{
                margin-top: calc(40 / 335) * 100%;
            }
        }
        .itemname{
            line-height: 1.5;
        }
        .buy{
            width: calc(115 / 335) * 100%;
        }
    }
}

