@use '../_reset';
@use '../_mixin' as *;
@use '../_common' as c;

.pc_lineup-wrap{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: pc(440);
    position: absolute;
}
.pc_lineup{
    margin: 0 auto;
    width: calc(199/ 400) * 100%;
}
.pc_anchor{
    width: calc(435 / 440) * 100%;
    margin: calc(45 / 440) * 100% auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    flex-wrap: wrap;
    gap: 35px 0;
    li{
        border-radius: 50%;
        width: calc(200 / 435) * 100%;
        height: auto;
        padding-top: calc(290 / 629) * 100%;
        background: #fff;
        position: relative;
        border-radius: 50%;
        &:hover{
            .anchor_icon{
                img{
                    transform: scale(1.05,1.05);
                }
            }
        }
        a{
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            color: #000;
            line-height: 0;
            
            p{
                margin-top: calc(20 / 200) * 100%;
                white-space: nowrap;
                text-align: center;
                font-size: pcFont(23);
                line-height: 1;
            }
        }
        .anchor_icon{
            width: 100%;
            img{
                transform: scale(1,1);
                transition: all .5s ease;
            }
        }
    }
}


.pc_allitems{
    width: 100%;
    margin: calc(70 / 400) * 100% auto 0;
    background: c.$main;
    border: solid 1px #000;
    border-radius: 50px;
    position: relative;
    transition: all .3s linear;
    a{
        position: relative;
        display: block;
        width: 100%;
        line-height: 1;
        font-size: pcFont(30);
        text-align: center;
        color: #fff;
        padding: calc(39 / 440) * 100% 0;
        transition: all .3s linear;
    }
    &::after,
    &::before{
        content: "";
        width: 4px;
        background: #fff;
        height: 1px;
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        transform-origin: right;
        margin-right: calc(59 / 440) * 100%;
        transition: all .3s linear;
    }
    &::after{
        transform: translateY(-50%) rotate(45deg);
    }
    &::before{
        transform: translateY(-50%) rotate(-45deg);
    }
    &:hover{
        background: #fff;
        a{
            color: c.$main;
        }
        &::after,
        &::before{
            background: c.$main;
            margin-right: calc(49 / 440) * 100%;
        }
    }
}
