@use './_reset';
@use './_mixin' as *;

$spw : 375;
$pcw : 1140;


$main: #E95464;




body{
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.02em;
    background: #FFF6C7;
    &.noscroll{
        overflow: hidden;
    }
}


.sp{
    display: block;
    @include pc{
        display: none;
    }
}
.pc{
    display: none;
    @include pc{
        display: block;
    }
}


a{
    cursor: pointer;
}


  .fadein{
    opacity: 0;
    transition: all .3s linear;
    &.in{
        opacity: 1;
    }
  }



.en {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ja {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chara{
    position: absolute;
    line-height: 0;
}