@use './_reset';
@use './_mixin' as *;

$spw : 375;
$pcw : 1140;


$main: #E95464;




body{
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.02em;
    
    &.noscroll{
        overflow: hidden;
    }
}


.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    // background: linear-gradient(
    //     to bottom,
    //     #FFE0E0 0%,
    //     #FFF2F2 50%,
    //     #FFE0E0 100%
    // );
}


.contents{
    overflow: hidden;
}

.sp{
    display: block;
    @include pc{
        display: none;
    }
}
.pc{
    display: none;
    @include pc{
        display: block;
    }
}


a{
    cursor: pointer;
}


  .fadein{
    opacity: 0;
    transition: all .3s linear;
    &.in{
        opacity: 1;
    }
  }



.en {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ja {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chara{
    position: absolute;
    line-height: 0;
}

.line{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


@keyframes aruku {
    0%, 100% {
        transform: rotate(-1deg);
    }

    50% {
        transform: rotate(1deg);
    }
    
}
@keyframes fuwafuwa_1 {
    0% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(10%);
    }
}