// pcサイズ
@mixin pc {
  @media screen and (min-width: 920px) {
    @content;
  }
}

// スマホサイズ
@mixin sp {
  @media screen and (max-width: 768px) {
    @content;
  }
}


@function spCalc($value){
  @return calc($value / 750) * 100%;
}
@function pcCalc($value){
  @return calc($value / 2732) * 100%;
}
@function date($value){
  @return calc($value / 680) * 100%;
}
@function left($value){
  @return calc($value / 745) * 100%;
}
@function right($value){
  @return calc($value / 745) * 100%;
}
@function pc($value){
  @return calc($value / 866) * 100%;
}


// fontsize

@function spFont($value){
  @return calc($value / 750 * 100vw);
}
@function pcFont($value){
  @return calc($value / 2732 * 100vw);
}
