// pcサイズ
@mixin pc {
  @media screen and (min-width: 920px) {
    @content;
  }
}

// スマホサイズ
@mixin sp {
  @media screen and (max-width: 768px) {
    @content;
  }
}


@function spCalc($value){
  @return calc($value / 375) * 100%;
}
@function pcCalc($value){
  @return calc($value / 1140) * 100%;
}
@function info($value){
  @return calc($value / 335) * 100%;
}


// fontsize

@function spFont($value){
  @return calc($value / 375 * 100vw);
}
@function pcFont($value){
  @return calc($value / 1140 * 100vw);
}
